@use "../../styles/variables" as v;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  li {
    width: 100%;
    display: flex;
    border-bottom: 1px gray solid;
    padding: 0.4rem;
    input {
      flex-shrink: 0;
    }

    h2 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      word-break: break-all;
      padding: 0 0.4rem;
    }

    button {
    }

    [type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: auto 2px;
    }
    
    label {
      margin-left: auto;
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
      flex-shrink: 0;
      margin-top: auto;
      margin-bottom: auto;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .edit_checkbox[type="checkbox"] {
      margin-left: auto;
      width: 1.5rem;
      height: 1.5rem;
      background-color: white;
      display: none;
    }

    .completed_checkbox[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
      border: 12px solid v.$background-300;
      box-shadow: 0 0 0 1px white;
      transition: border ease 0.1s;
      background-color: v.$primary-300;
    }

    .completed_checkbox[type="checkbox"]:checked {
      border: 3px solid v.$background-300;
    }

    form {
      display:  flex;
flex-grow: 0;
max-width: 70%;
    }

    .name_input {
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;
      word-break: break-all;
      background-color: transparent;
      border: none;
      color: white;
      resize: none;
      flex-grow: 0;
    }
  }
}
