@use "../../styles/variables" as v;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  li {
    display: flex;
    border-bottom: 1px gray solid;
    padding: 0.4rem;
    //still want to keep the border if there is only 1 item
    &:nth-child(n+2):last-child {
      border: none;
    }

    h2 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      word-break: break-all;
      padding: 0 0.4rem;
      line-height: 2rem;
    }

    button {
      background-color: transparent;
      color: v.$warning;
      border: none;
      width: 2rem;
      height: 2rem;
      display: flex;
      margin: auto 0 auto auto;
      align-items: center;
      justify-content: center;
      svg {
        width: inherit;
        height: inherit;
      }
    }

    button:focus {
      outline: 1px solid gray;
    }
    button:hover {
      cursor: pointer;
    }

    .completed_checkbox[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: auto 2px;
      width: 1.5rem;
      height: 1.5rem;
      border: 12px solid v.$background-300;
      box-shadow: 0 0 0 1px white;
      transition: border ease 0.1s;
      background-color: v.$primary-300;
      flex-shrink: 0;
      &:hover {
        cursor: pointer;
      }
      & + h2 {
        transition: opacity 0.3s ease;
      }
    }
    .completed_checkbox[type="checkbox"]:checked {
      border: 3px solid v.$background-300;
      & + h2 {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
  }
}
