@use "./variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html,
body,
body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box !important;
  height: 100%;
  overflow-x: hidden;
  background-color: v.$background-300;
  color: white;
  max-width: 48rem;
  width: 100%;
  margin:  0 auto;
}

main {
  width: 100%;
}

body > div {
  padding: 0.6rem;
}

main {
  height: 100%;
}

a {
  color:white ;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0px 1000px v.$secondary-300 inset;
}

// Scrollbar

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
